<h1>Editing Song</h1>

<%= render 'form', song: @song %>
<%= link_to "Back - Don't Save", songs_path, :class => 'btn btn-warning btn-sm active' %>

<% if false %>
<%= link_to 'Show', @song %> |
<% end %>
